* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    margin-top: 0px;
    width: 1200px;
}
.container {
    margin-left: 8px;
    margin-right: 8px;
}

/*banner logo*/
#logobox {
    background-image: url(../img/pattern.png);
    height: 100px;
    background-position: top;
    background-size: 390px;
    background-color: rgb(100, 171, 237);
}
#logo {
    height: 50px;
    position: relative;
    margin-top: 40px;
    margin-left: 8px;
}
h1 {
    margin-bottom: 0px;
}

/*titolo & credits*/
#credit {
    font-size: 18px;
    color: grey;
}
a {
    text-decoration: none;
    color: rgb(0, 153, 255);
}
#date {
    font-size: 12px;
    color: grey;
}

/*immagini*/
#pictures {
    margin-top: 14px;
}
.descrizione-foto {
    font-size: 12px;
}